@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    font-family: "Segoe UI Variable", "JetBrainsMono Nerd Font Propo";
    font-weight: 600;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: none;
    border: none;
    color: @foreground;
}

window#waybar.empty #window {
    background: none;
    border: none;
}

tooltip {
    background: alpha(@background, 0.75);
    color: @foreground;
    padding: 5px;
    margin-top: 5px;
}

#workspaces {
    background: alpha(@background, 0.75);
    border: 1px solid #303741;
    border-radius: 10px;
    padding: 0px;
}

#workspaces button {
    color: @foreground;
    border: none;
    border-radius: 0;
    margin: 2px;
    padding: 0px;
}

#workspaces button.active {
    background: alpha(@background, 0.75);
    color: @color6;
    border: none;
    border-radius: 0;
    padding: 0px;
}

#workspaces button.empty {
    color: #565656;
    border: none;
    border-radius: 0;
    padding: 0px;
}

#workspaces button.visible {
    background: alpha(@color4, 1);
    color: @foreground;
    border-radius: 999px;
    padding: 0px;
}

#workspaces button:hover {
    color: @color7;
    border: none;
    border-radius: 999px;
    padding: 0px;
}

#window {
    background: alpha(@background, 0.75);
    color: @foreground;
    padding: 1px 8px;
    border: 1px solid #303741;
    border-radius: 10px;
}

#custom-nightlight,
#custom-launcher,
#idle_inhibitor,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#tray,
#clock,
#custom-notification {
    color: @foreground;
    padding: 0.3rem 0.6rem
}

#custom-launcher,
#custom-nightlight,
#idle_inhibitor,
#systray, 
#custom-notification,
#clock {
    background: alpha(@background, 0.75);
    border: 1px solid #303741;
}

#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#clock:hover,
#custom-notification:hover {
    color: @color4;
}

#clock {
    border-radius: 10px;
}

#custom-notification {
    border-radius: 10px;
}

#systray {
    border-radius: 10px;
}

#tray {
    background: none;
}

#battery.charging {
    color: #33ff00;
}

#battery.warning:not(.charging) {
    color: orange;
}

#battery.critical:not(.charging) {
    color: red;
}

#custom-nightlight {
    border-radius: 10px;
}

#custom-launcher {
    color: #1793D1;
    border-radius: 10px;
}

#custom-launcher:hover {
    background: alpha(@color7, 0.10);
}
