@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    font-family: "Segoe UI Variable", "JetBrainsMono Nerd Font Propo";
    font-weight: 600;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: alpha(@background, 0.75);
    border: none;
    color: @foreground;
}

window#waybar.empty #window {
    background: none;
    border: none;
}

tooltip {
    background: alpha(@background, 0.25);
    color: @foreground;
    padding: 5px;
    margin-top: 5px;
}

#workspaces {
    background: none;
    border: none;
    border-radius: 0;
}

#workspaces button {
    color: @foreground;
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    background: alpha(@background, 1);
    color: @color6;
    border: none;
    border-radius: 0;
}

#workspaces button.empty {
    color: #565656;
    border: none;
    border-radius: 0;
}

#workspaces button.visible {
    background: alpha(@color4, 0.25);
    color: @foreground;
    border-bottom: 2px solid @color7;
}

#workspaces button:hover {
    color: @color7;
    border: none;
    border-radius: 0;
}

#window {
    background: none;
    color: @foreground;
    padding: 5px 8px;
    border: none
}

#custom-nightlight,
#custom-launcher,
#idle_inhibitor,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#clock,
#custom-notification,
#tray {
    color: @foreground;
    padding: 0.3rem 0.6rem;
}

#custom-nightlight,
#custom-launcher,
#idle_inhibitor,
#systray, 
#custom-notification,
#clock,
#tray {
    background: none;
    border: none;
}

#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#clock:hover,
#custom-notification:hover {
    color: @color4;
}

#battery.charging {
    color: #33ff00;
}

#battery.warning:not(.charging) {
    color: orange;
}

#battery.critical:not(.charging) {
    color: red;
}

#custom-launcher {
    color: #1793D1;
}

#custom-launcher:hover {
    background: alpha(@color4, 0.25);
}
