@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "Segoe UI Variable", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: @foreground;
}

.control-center {
    background: alpha(@background, 0.75);
    border-radius: 0px;
    border: 2px solid #363636;
    padding: 10px;
}

.blank-window {
  background: transparent;
}

.widget-title {
    font-weight: 600;
    color: @foreground;
    margin-bottom: 10px;
}

.widget-dnd {
    margin-bottom: 10px;
}

.widget-dnd label {
    font-weight: 600;
    color: @foreground;
}

.widget-dnd > switch:checked {
    background: @color1;
}

.widget-notifications,
.notifications,
.floating.notifications {
    background: transparent;
    border-radius: 8px;
}

.notification,
.notification.low,
.notification.normal,
.notification.critical {
    background: alpha(@background, 0.80);
    border-radius: 8px;
}

.notification-row,
.notification-group,
.notification-background {
    background: transparent;
    box-shadow: none;
}

.notification-row .notification-background .notification .notification-action:hover, .notification-row .notification-background .notification .notification-default-action:hover {
    background: alpha(@color6, 0.25);
    border-radius: 8px;
}

.image {
    border-radius: 0;
    margin-right: 5px;
}

.summary {
    font-weight: bold;
}

scrollbar,
scrollbar slider {
    all: unset;
}
