* {
    font-family: "SF Pro", "JetBrainsMono Nerd Font Prop", sans-serif;
    font-size: 13px;
    color: #ebdbb2;
}

.control-center {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12;
    padding: 10px;
}
.blank-window {
  background: transparent;
}

.widget-title {
    font-weight: bold;
    color: #ebdbb2;
    margin-bottom: 10px;
}

.widget-dnd {
    margin-bottom: 10px;
}

.widget-dnd label {
    color: #ebdbb2;
}

.widget-notifications {
    background: transparent;
}

.notification.critical {
    border: 1px solid #ff0000;
}

.notification.low {
    border: 1px solid #4a90e2;
}

.notification.normal {
    border: none;
    background: rgba(0, 0, 0, 0.50);
}
